.main_div {
    border: 2px solid red;
    display: flex;
}
.img_div{
    border: 2px solid blue;
    width: 30%;
    /* height: 300px; */
}
.img_div > img{
    width: 100%;
}
#sezzle{
    width: 15%;
}
.interest_sezzle{
    display: flex;
    border: 1px solid green;
}
.interest{
    border: 1px solid red;
}
.heading_div{
    border: 2px solid green;
    width: 40%;
    /* height: 400px; */
}
.zip_calculate{
    display: flex;
    margin: auto;
}
.calculate{
    border: 1px solid black;
}
.extra_products {
    display: flex;
    border: 1px solid red;
    
}
.extra_products div{
    border: 1px solid blue;
    margin: auto;
    width: 30%;
    margin: 10px;
}